<div class="form-group">
    <%= form_for [@city, @post] do |f| %>  

        <%= f.label :title %> <br/>
        <%= f.text_field :title, class:"form-control" %> <br/>

        <%= f.label :tip %> <br/>
        <%= f.text_area :tip, class:"form-control" %> <br/>

        <%= f.submit class: "btn-lrg" %>
    <% end %>
</div>