<div>
    <div class="container-post-views"> 
        <div class="details">
            <h3><%= @post.title %></h3>
            <p><%= @post.tip %></p>
        </div>

        <div>
            <div class="edit-button">
                <button class="btn"> <%= link_to  "edit tip", edit_city_post_path %> </button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button class="btn"> <%= link_to  "back to city", city_path(@post.city, @post) %> </button>
            </div>
            <div class="delete-button">
            <%= form_for [@post.city, @post], method: :delete do |f| %> 
            <%= f.submit "Delete", class: "delete btn", data: {confirm: "Are you sure?"} %>
            <% end %>
            </div>
        </div>
    </div>
</div>