<div>
  <div class="container-city-views">
    <h1 class="city-details">Welcome to <%= @city.name %></h1>
    <div class="img"><%= image_tag @city.image %></div>
    <div class="city-details">
    <h3><%= @city.description %></h3>
    <div>
        <ul>
          <% @city.posts.order("created_at DESC").each do |post| %>
            <li><%= link_to post.title, city_post_path(@city.id, post.id) %>
            <%= post.created_at %></li>
          <% end %>
      </ul> 
  </div>
    <%= link_to  "Add New Tip", new_city_post_path(@city.id) %>
  </div>
</div>


 
