<div>
  <div class="container-city-views">
    <%= image_tag @city.image, class:"img"%>
    <h1 class="city-header">Welcome to <%= @city.name %></h1>
  <div>
    <div class="city-details">
    <h3><%= @city.description %></h3>
    <div>
      <div class="new-tip">Have a great tip about this city? <%= link_to  "Add A New Tip", new_city_post_path(@city.id) %></div>
    </div>
    <div class="posts">
          <% @city.posts.order("created_at DESC").each do |post| %>
            <%= link_to post.title, city_post_path(@city.id, post.id) %>
            <p><%= post.created_at %></p>
          <% end %>
    </div>
  </div>
  </div>
</div>


 



 
