<div>
  <h1 class="city-header"><%= @city.name %></h1>
  <div class="container-city-views">
    <%= image_tag @city.image, class:"img"%>
  <div class="bottomstyle">
    <div class="city-details">
    <h3 class="desstyle"><%= @city.description %></h3>
    <div>
      <div class="new-tip"><%= link_to  "Add New Tip", new_city_post_path(@city.id) %></div>
    </div>
    <div class="posts">
          <% @city.posts.order("created_at DESC").each do |post| %>
            <%= link_to post.title, city_post_path(@city.id, post.id) %>
            <p><%= post.created_at %></p>
          <% end %>
    </div>
  </div>
  </div>
</div>


 



 
