<div>
  <div class="container-city-views">
    <%= image_tag @city.image, class:"img"%>
    <p class="city-header"><%= @city.name %></p>
  <div>
    <div class="city-details">
    <p class="city"><%= @city.description %></p>
    <div>
      <div class="new-tip">Have a great tip about this city? <%= link_to  "Add a new tip here.", new_city_post_path(@city.slug) %></div>
    </div>
    <div class="posts">
          <% @city.posts.order("created_at DESC").each do |post| %>
            <%= link_to post.title, city_post_path(@city.slug, post.id) %>
            <p><%=truncate(post.tip, length: 100)%> <%=link_to " >>", city_post_path(@city.slug, post)%></p>
            <p><%= distance_of_time_in_words(post.created_at, Time.now)%> ago</p><br/>
          <% end %>
    </div>
  </div>
  </div>
</div>


 



 
