<!DOCTYPE html>
<html>
  <head>
    <title>WAYFARE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == "home" %>
      <div class="navbar">
        <div class="navbar-left"><a href="/cities">WAYFARE</a></div>
        <div class="navbar-right"><span>
        <% if user_signed_in? %>
          Logged in as <%= link_to current_user.username, users_show_path  %> | 
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path  %>
        <% end %></span></div>
      </div>
    <% end %>
    <%= yield %>
    <% unless controller_name == "home" %>
      <div class="bottom-nav">
        <div class="navbar-left"><a href="/cities">WAYFARE</a></div>
        <div class="navbar-right"><span>
          made by team vagibond
        </span></div>
      </div>
      <% end %>
    <!-- application javascript file -->
    <%= javascript_include_tag :application %>
  </body>
</html>


